# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build files
dist/
build/
.next/
out/
backend/nltk_data/
backend/tests/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.backup

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE related
.idea/
.vscode/
*.swp
*.swo
*.code-workspace

# OS related
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Testing
coverage/
.nyc_output/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
backend/venv/
ENV/
env/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg

# Docker
docker-volumes/

# Other
.vercel
.serverless 